body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,"Roboto",'Roboto Slab', "Courier New", "SukhumvitSet";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;

  /** background image */
  background-image: url("./assets/Background/landing_page_desktop.svg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  font-display: swap;
}
@media only screen and (max-width: 768px) {
  body {
  background-image: url("./assets/Background/landing_page_mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: '58.8 rem';
  font-display: swap;
  }
}
@font-face {
  font-family: 'SukhumvitSet-Light';
  src: local('SukhumvitSet-Light'), url('./fonts/sukhumvit_light.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'SukhumvitSet-Bold';
  src: local('SukhumvitSet-Bold'), url('./fonts/sukhumvit_bold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'SukhumvitSet-Medium';
  src: local('SukhumvitSet-Medium'), url('./fonts/sukhumvit_medium.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'SukhumvitSet-Semibold';
  src: local('SukhumvitSet-Semibold'), url('./fonts/sukhumvit_semibold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'SukhumvitSet-Text';
  src: local('SukhumvitSet-Text'), url('./fonts/sukhumvit_text.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Sarabun';
  src: local('Sarabun'), url('./fonts/sarabun_regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Sarabun-Semibold';
  src: local('Sarabun-Semibold'), url('./fonts/sarabun_semiBold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Sarabun-thin';
  src: local('Sarabun-thin'), url('./fonts/sarabun_thin.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Sarabun-Regular';
  src: local('Sarabun-Regular'), url('./fonts/sarabun_regular.ttf') format('truetype');
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", "Roboto"
    monospace;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');